#postContainer {
    width: 100%;
    max-width: 700px;
    height: auto;
    background-color: #313342;
    border-radius: 10px;
    box-shadow: var(--color-default-shadow);
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.post-profile-info {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 2.75rem;
    left: 7rem;
}
.light-post {
    color: #6B7280;
}

#profile-post-name {
    color: white;
}
#profile-post-username {
    margin-left: 0.5rem;
}
.post-headline {
    position: relative;
    margin: 0 1rem 1rem;
    bottom: 0.5rem;
    color: white;
}
.stock-ticker {
    font-size: 16px;
    color: #79EEE3;
}
.post-image-container {
    display: flex;
}
.post-image {
    width: 95%;
    margin: 0 auto 1rem;
    object-fit: cover;
    border-radius: 8px;
}